.container.emForCon {
    min-height: 75vh;
    width: 50%;
}

.container.emForCon > div {
    box-shadow: 0.5rem 0.9rem 1.9rem var(--fourth-color),
        -0.5rem -0.9rem 1.9rem var(--fourth-color) !important;
    position: relative;
}

.container.emForCon > div > div {
    margin-top: 4rem;
}

.emForCon img {
    width: 9rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emForCon .uAuth {
    color: var(--third-color);
    text-decoration: underline !important;
    text-decoration-color: var(--fourth-color) !important;
    text-decoration-line: 0.3rem !important;
    text-underline-offset: 0.3rem !important;
    font-size: 2rem;
}

.emForCon .otpContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emForCon .otpContainer .errMsg {
    text-indent: 0rem;
}

.emForCon .otpInput {
    width: 31%;
    height: 5rem;
    border: none;
    outline: none;
    border-bottom: 0.3rem solid #e2eeff;
    font-size: 1.6rem;
    text-indent: 1.5rem;
    letter-spacing: 0.1rem;
    margin: 2rem 1rem auto;
    outline: none;
    border-bottom: 0.3rem solid #e2eeff;
}

.emForCon h4 {
    font-size: 1.8rem;
}

.emForCon .btn {
    font-size: 1.6rem;
}

@media screen and (max-width: 992px) {
    .container.emForCon {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .container.emForCon {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .container.emForCon {
        width: 90%;
    }
}
