.cusHeaderImg {
    width: 9rem;
}

.cusHeaderTitle {
    font-size: 4rem;
    font-weight: bold;
}

.cusHeaderElearing {
    font-size: 2.5rem;
}

.cusHeaderLogIn {
    font-size: 1.4rem;
}

.cusHeader i {
    color: var(--third-color);
}
