.pubProfile .card {
    box-shadow: 0 0 0.9rem 0.3rem var(--fourth-color) !important;
}

.pubProfile .card:not(:last-child) {
    margin-bottom: 3rem;
}

.pubProfile img {
    width: 10rem;
    height: 10rem;
}

.pubProfile .fa-solid {
    color: var(--third-color);
    margin-right: 0.5rem;
}

.pubProfile .card span {
    font-size: 1.3rem;
}

.pubProfile .card-footer {
    background-color: transparent !important;
}

.pubProfile .card-footer button {
    font-size: 1.6rem;
    padding: 0.3rem 0.9rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0 0.7rem;
}

.pubProfile li {
    list-style-type: none;
}

.pubProfile .timeline {
    font-size: 1.8rem;
}

.pubProfile .timeline li p {
    display: inline-block;
    min-width: 15rem;
}

.pubProfile .timeline li span {
    font-weight: bolder;
    font-size: 1.5rem;
}

.pubProfile .modal-body ul li {
    display: flex;
}

.pubProfile .modal-body ul li span {
    display: block;
}

.pubProfile .rightBar {
    box-shadow: 0 0 0.9rem 0.3rem var(--fourth-color) !important;
}

.pubProfile .rightBar > div {
    margin-bottom: 7rem;
}

.pubProfile .rightBar h1 {
    margin-bottom: 1rem;
}

.pubProfile .rightBar ul li {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.pubProfile .rightBar ul li i {
    min-width: 5rem;
    color: var(--third-color);
}

.pubProfile .rightBar ul li span {
    font-size: 1.8rem;
}

.pubProfile .skill {
    font-size: 1.8rem !important;
    padding: 0.3rem 0.9rem;
    min-width: 1rem;
    font-weight: bold;
}
